.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border: 2px solid #e7e7e7;
  border-radius: 10px;
}

.logo {
  width: 100px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

.nav-items > ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
  font-size: 24px;
}

.res-card {
  width: 200px;
  height: auto;
  background-color: #fff;
  border: 2px solid #e7e7e7;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 5px;
}

.res-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
  cursor: pointer;
}

.res-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.rest-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-btn {
  padding: 5px 5px;
  margin: 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
}
.filter-btn:hover {
  background-color: #0dae15;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 250px;
  background-color: #f0f0f0;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.login-btn {
  font-size: 16px;
  border-radius: 5px;
  background-color: #008cba;
  color: white;
  border: none;
}

.filter {
  display: flex;
}

.search-input {
  font-size: 16px;
  width: 300px;
  border: 2px solid #ccc;
  border-radius: 15px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}
.cuisines {
  gap: 10px;
  margin: 10px;
  color: #5f1818;
}

.user-card {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border: 2px solid #e7e7e7;
  border-radius: 10px;
  width: 250px;
  background-color: #b4a4a4;
  cursor: pointer;
}
